<a href='https://www.darshan.ac.in/'> <img src='https://www.darshan.ac.in/Content/media/DU_Logo.svg' width="250" height="300"/></a>
<pre>
<center><b><h1>Python Programming - 2101CS405</b></center>
<center><b><h1>Lab - 1</b></center>    
<pre>

### 01) WAP to print “Hello World”

In [1]:
print("Hello World")

Hello World

### 02) WAP to print your address i) using single print ii) using multiple print

In [2]:
print("202-B-YOGI APP, UMIYANAGAR SOCIETY ,RAVAPAR-GHUNDA ROAD, MORBI")

202-B-YOGI APP, UMIYANAGAR SOCIETY ,RAVAPAR-GHUNDA ROAD, MORBI

In [3]:
print("202-B-YOGI APP,")
print("UMIYANAGAR SOCIETY,")
print("RAVAPAR-GHUNDA ROAD,")
print("MORBI")

202-B-YOGI APP,
UMIYANAGAR SOCIETY,
RAVAPAR-GHUNDA ROAD,
MORBI

### 03) WAP to print addition of 2 numbers (without input function)

In [4]:
print("addition ",5+6)

addition  11

### 04) WAP to calculate and print average of 2 numbers (without input function)

In [5]:
print("average ",(5+5)/2)

average  5.0

### 05) WAP to add two number entered by user.

In [6]:
a=int(input("enter a:"))
b=int(input("enter b:"))
c=a+b
print("addition is ",c)

enter a:3
enter b:3
addition is  6

### 06) WAP to calculate simple interest.

In [7]:
p=int(input("enter p"))
r=int(input("enter r"))
n=int(input("enter n"))
print("ans ",(p*r*n)/100)

enter p10
enter r10
enter n1
ans  1.0

### 07) WAP Calculate Area and Circumfrence of Circle

In [14]:
r=float(input("enter r"))
print("area is ",3.14*r*r)

enter r1
area is  3.14

### 08) WAP to print Multiplication table of given number without using loops.

In [8]:
n=int(input("enter n"))
print(n,"*",1,"=",n*1,sep=" ",end=", ")
print(n,"*",2,"=",n*2,sep=" ",end=", ")
print(n,"*",3,"=",n*3,sep=" ",end=", ")
print(n,"*",4,"=",n*4,sep=" ",end=", ")
print(n,"*",5,"=",n*5,sep=" ",end=", ")
print(n,"*",6,"=",n*6,sep=" ",end=", ")
print(n,"*",7,"=",n*7,sep=" ",end=", ")
print(n,"*",8,"=",n*8,sep=" ",end=", ")
print(n,"*",9,"=",n*9,sep=" ",end=", ")
print(n,"*",10,"=",n*10,sep=" ",end=", ")

enter n2
2 * 1 = 2, 2 * 2 = 4, 2 * 3 = 6, 2 * 4 = 8, 2 * 5 = 10, 2 * 6 = 12, 2 * 7 = 14, 2 * 8 = 16, 2 * 9 = 18, 2 * 10 = 20,

### 09) WAP to calculate Area of Triangle (hint: a = h * b * 0.5)

In [9]:
h=int(input("enter h"))
b=int(input("enter b"))
print("area ",(h*b)/2)

enter h1
enter b1
area  0.5

### 10) WAP to convert degree to Fahrenheit and vice versa.

In [13]:
c=float(input("enter celcius: "))
print("farenheit",(c * (9/5))+32)
f=float(input("enter f: "))
print("celcius ",((f-32)*(5/9)))

enter celcius: 10
farenheit 50.0
enter f: 20
celcius  -6.666666666666667

### 11) WAP to calculate total marks and Percentage.

In [10]:
s1=float(input("enter s1"))
s2=float(input("enter s2"))
s3=float(input("enter s3"))
s4=float(input("enter s4"))
s5=float(input("enter s5"))
per=((s1+s2+s3+s4+s5)*100)/350
print(per)

enter s170
enter s270
enter s370
enter s470
enter s570
100.0

### 12) Compute distance between two points taking input from the user (Pythagorean Theorem).

In [12]:
x1=float(input("enter x1"))
y1=float(input("enter y1"))
x2=float(input("enter x2"))
y2=float(input("enter y2"))
a=(x2-x1)**2
b=(y2-y1)**2
print("ans ",(a+b)**0.5)

enter x11
enter y11
enter x21
enter y21
ans  0.0

### 13) WAP to convert seconds into hours, minutes & seconds and print in HH:MM:SS
[e.g. 10000 seconds mean 2:46:40 (2 Hours, 46 Minutes, 40Seconds)]

In [11]:
sec=int(input("enter sec"))
h=sec//3600
sec=sec%3600
m=sec//60
s=sec%60
print(h,m,s)

enter sec10000
2 46 40

### 14) WAP to enter distance into kilometer and convert it into meter, feet,inches, and centimeter

In [17]:
km=int(input("enter kilometer"))
m=km*1000
cm=km*1000*100
feet=km*3280.84
inches=feet*12
print(m,cm,feet,inches)

enter kilometer1
1000 100000 3280.84 39370.08